@import url('https://fonts.googleapis.com/css2?family=Muli:wght@900&display=swap');

/* container */
.xbox-container {
    position: relative;
    margin: auto;
    width: 500px;
    font-family: 'Muli', sans-serif;

}

/* control shape */
.main {
    position: relative;
}

.buttons {
    position: absolute;
    top: 10px;
    left: 280px;
}

.button-label {
    position: absolute;
    width: 100px;
}

.buttony-label {
    top: 30px;
    left: -20px;
}

.buttona-label {
    top: 185px;
    left: -30px;
}

.buttonx-label {
    top: 105px;
    left: -125px;
}

.buttonb-label {
    top: 105px;
    left: 80px;
}

/* buttons */
.buttony, .buttonx, .buttona, .buttonb {
    width: 40px;
    height: 40px;
    background: rgb(29, 29, 29);
    border-radius: 50%;
    position: absolute;
    box-shadow:
        -0.2em -0.125em 0.125em rgba(0, 0, 0, 0.4),
        0 0 0 0.04em rgba(0, 0, 0, 0.5),
        0.02em 0.02em 0.02em rgba(0, 0, 0, 0.4) inset,
        -0.05em -0.05em 0.02em rgba(255, 255, 255, 0.8) inset;
    text-align: center;
    font-size: 1.5rem;
    line-height: 40px;
    background: linear-gradient(90deg, black 0%, rgb(48, 47, 47) 50%, rgb(15, 15, 15) 100%);
}
.buttony {  
    top: 60px;
    right: -30px;
    color: yellow;
}

.buttonx {
    top: 100px;
    right: 10px;
    color: rgb(0, 153, 255);
}

.buttona {
    top: 140px;
    right: -30px;
    color: lime;
}

.buttonb {
    top: 100px;
    right: -70px;
    color: red;
}

.dpad-up.pressed,
.dpad-down.pressed,
.dpad-left.pressed,
.dpad-right.pressed {
    transform: scale(.9);
    filter: drop-shadow(1)
}

.buttony.pressed,
.buttonx.pressed,
.buttona.pressed,
.buttonb.pressed {
    background: linear-gradient(90deg, rgb(97, 97, 97) 0%, rgb(204, 212, 207) 50%, rgb(161, 155, 155) 100%);
}


/* control sticks */
.circle2, .inner, .circle3 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    border-radius: 50px;
    box-shadow: -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
}
.circle2 {
    top: 157px;
    right: 30px;
    background-color: #eeeeee;
    width: 100px;
    height: 100px;

}

.scroll {
    display: block;
    background: black;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin: 0;
    background: radial-gradient(circle at 100px 50px, rgb(54, 54, 54), rgb(0, 0, 0));
}

.inner {
    background-color: rgb(29, 28, 28);
    width: 50px;
    height: 50px;
}

.inner-inner {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(207, 207, 207) 50%, rgba(255, 255, 255, 1) 100%);
}

.circle3 {
    top: 50px;
    left: 0;
    background-color: #eeeeee;
    width: 100px;
    height: 100px;

}

/* arrow pad */
.dpad-label {
    position: absolute;
    top: -25px;
    left: 10px;
}

.dpad {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 75px;
    left: 30px;

}

.circle {
    width: 100px;
    height: 100px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgb(207, 207, 207) 50%, rgba(255, 255, 255, 1) 100%);
    border-radius: 50%;
    position: absolute;
}

.dpad-up,
.dpad-down,
.dpad-left,
.dpad-right {
    width: 33%;
    height: 33%;
    background: grey;
    position: absolute;
    border: rgb(78, 78, 78) 2px solid;
    border-radius: 10px;
    box-shadow: -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001;
}

.dpad-up {
    top: 0;
    left: calc(100% / 3);
}

.dpad-down {
    bottom: 0;
    left: calc(100% / 3);
}

.dpad-left {
    top: calc(100% / 3);
    left: 0;
}

.dpad-right {
    top: calc(100% / 3);
    right: 0;
}